p {
    font-size: 1rem;
}

#page {
    justify-content: center;
    padding: 4rem 0 3rem 0;
    text-align: center;
}

form {
    position: relative;
    width: 100%;

    .field {
        + .field {
            margin-top: 1rem;
        }
    }

    textarea {
        background: rgba(var(--white-rgb), 0.75);
        color: var(--purple);
        min-height: 225px;
        width: 100%;
    }

    .count {
        left: calc(100% + 1em);
        position: absolute;
    }

    .copied {
        animation-duration: 3s;
        animation-iteration-count: 1;
        bottom: -1.5rem;
        left: 50%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        translate: -50%;
    }
}

@media (min-width: 768px) {
    #page > * {
        margin-left: auto;
        margin-right: auto;
        max-width: 40rem;
    }
}
