:root {
    --beige:  #ececda;
    --green:  #adff2f;
    --mags:   #a8008a;
    --purple: #412e54;
    --white:  #fffff1;
}

body {
    background: fixed var(--white) url('/assets/m&p.jpg') no-repeat 50% 50% / cover;
    color: var(--purple);
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

img {
    display: block;
    max-width: 100%;
}

p {
    &:first-child {
        margin-top: 0;
    }
}

a {
    transition: color 0.25s ease-in-out;
}

main {
    flex: 1;

    section {
        padding: 3rem 0;

        @media (max-width: 42em) {
            padding-left: 10px;
            padding-right: 10px;
        }

        &.top {
            background-color: var(--beige);
        }

        &.bottom {
            background-color: var(--white);
        }
    }
}

footer {
    align-items: center;
    background-color: var(--purple);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    text-align: center;

    @media (min-width: 920px) {
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        font-size: inherit;
        font-weight: inherit;
        margin: 0;

        span {
            font-size: 75%;
        }
    }

    a {
        color: var(--white);
        position: relative;
        text-decoration: none;

        &::after {
            background-color: var(--mags);
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: width 0.25s ease-in-out;
            width: 0%;
        }

        &:hover {
            color: var(--mags);

            &::after {
                width: 100%;
            }
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: 42rem) {
            display: flex;
            justify-content: center;

            li {
                &:not(:first-child)::before {
                    content: '/';
                    margin: 0 0.5em;
                    opacity: 0.5;
                }
            }
        }
    }

    img {
        border-radius: 50px;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
        max-width: 50px;
    }
}

.contain {
    margin: 0 auto;
    max-width: 42em;
}

#page {
    backdrop-filter: blur(1px) sepia(50%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
