#page {
    justify-content: center;
    padding: 4rem 0 3rem 0;
}

h1 + h3 {
    margin-top: -1.5rem;
}

.contain {
    width: 60em;
}

form {
    input[type="text"] {
        min-width: 226px;

        &:invalid:not(:placeholder-shown) {
            border: 1px solid red;
        }
    }
}

img {
    display: block;
    margin: 1rem auto;
}

span.name {
    display: block;
    margin-bottom: -0.5rem;
}
