#page {
    margin: 0 auto;
    max-width: 96%;
    padding: 5rem 0;

    :is(h2, h3, p, form) {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    img {
        display: block;
        max-width: 100%;
    }

    h2 {
        background-color: magenta;
        color: var(--dark);
        margin-bottom: 0;
        margin-top: 5rem;
        padding: 0.25em;
        text-align: center;
        width: 100%;
    }

    h3 {
        margin-top: 2rem;
    }
}

div[hidden] {
    display: none;
}

.ascendancy {
    text-align: center;
}

h2:has(+ [hidden] + [hidden] + [hidden]),
h2:last-of-type:has(+ [hidden]) {
    display: none;
}
