:where(h2, h3, h4) {
	color: var(--magenta);
}

h2 {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	padding: 0.5rem 1.5rem;
	transition: background-color 0.5s ease-in-out;
}

	h2:not(:first-child) {
		margin-top: 2rem;
	}

	h2:target {
		background-color: var(--purple-dark);
		color: var(--white);
	}

hr {
	border: 0;
	border-bottom: 1px dotted var(--white);
	margin: 4rem 0 0 0;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 3rem 0;
}

	figure img {
		border: 2px solid var(--purple-light);
		border-left-width: 0;
		border-right-width: 0;
		display: block;
		margin: 0 -1.5rem;
		max-width: calc(100% + 3rem);
		width: calc(100% + 3rem);
	}

	figcaption {
		font-size: 80%;
		font-style: italic;
		margin-top: 0.5rem;
		text-align: center;
	}

.contain {
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
}

#page {
	display: flex;
	flex-wrap: wrap;
	padding: 2rem 1.5rem;
}

main {
	flex: 0 0 100%;
}

	main > :first-child {
		margin-top: 0;
	}

	main > :last-child {
		margin-bottom: 0;
	}

	main p {
		-webkit-hyphens: auto;
		-webkit-hyphenate-limit-before: 3;
		-webkit-hyphenate-limit-after: 3;
		-webkit-hyphenate-limit-chars: 6 3 3;
		-webkit-hyphenate-limit-lines: 2;
		-webkit-hyphenate-limit-last: always;
		-webkit-hyphenate-limit-zone: 8%;

		-moz-hyphens: auto;
		-moz-hyphenate-limit-chars: 6 3 3;
		-moz-hyphenate-limit-lines: 2;
		-moz-hyphenate-limit-last: always;
		-moz-hyphenate-limit-zone: 8%;

		-ms-hyphens: auto;
		-ms-hyphenate-limit-chars: 6 3 3;
		-ms-hyphenate-limit-lines: 2;
		-ms-hyphenate-limit-last: always;
		-ms-hyphenate-limit-zone: 8%;

		hyphens: auto;
		hyphenate-limit-chars: 6 3 3;
		hyphenate-limit-lines: 2;
		hyphenate-limit-last: always;
		hyphenate-limit-zone: 8%;
		text-align: justify;
	}

aside {
	flex: 0 0 100%;
	margin-bottom: 3rem;
	order: -1;
}

	aside ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	aside li {
		display: block;
		position: relative;
		margin: 0;
	}

	aside a {
		display: block;
		padding: 1rem 0 2.6rem;
	}

	aside small {
		display: block;
		padding-left: 1rem;
		pointer-events: none;
		position: absolute;
		top: 2.6rem;
	}

@media (min-width: 768px) {
	h2 {
		margin-left: -3rem;
		margin-right: -3rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	#page {
		flex-wrap: nowrap;
		gap: 3rem;
		padding: 6rem 1rem;
	}

	main {
		flex: 1;
	}

	figure img {
		border-left-width: 2px;
		border-right-width: 2px;
		margin: 0 -3rem;
		max-width: calc(100% + 6rem);
		width: calc(100% + 6rem);
	}

	aside {
		flex: 0 0 30%;
		margin-bottom: 0;
	}

		aside ul {
			font-size: 1.2rem;
			position: sticky;
			top: 0;
		}
}

@media (min-width: 1024px) {
	#page {
		padding: 6rem 0;
	}
}
