:root {
    --purps: #412e54;
    --purpm: #62467f;
    --purpl: #835da9;
    --purpb: #c5b4d7;
    --mags:  #f0f
}

body {
    background-color: var(--purps);
    color: #fff;
    font-family: Monaco, Consolas, monospace;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body:not(.simple) {
    background: url('cubes.png') fixed, linear-gradient(135deg, var(--purpl) -20%, var(--purps) 86%);
}

a {
    color: var(--mags);
    text-decoration: underline;
    transition: color 0.33s;
}

    a:hover {
        color: #fff;
    }

button {
    background: var(--purpb);
    border: 0;
    padding: 0;

    a {
        color: var(--purps);
        display: block;
        font-weight: bold;
        padding: 1em 2.25em;
        text-decoration: none;

        &:hover {
            color: var(--purpl);
        }
    }
}

img {
    max-width: 100%;
}

form label {
    display: block;
    margin: 1rem 0 0.5rem;
    text-align: center;
}

form input[type="text"] {
    border: 1px solid #dcd;
    border-radius: 3px;
    background: transparent;
    color: #fff;
    font-family: Monaco, Consolas, monospace;
    font-size: 1.5rem;
    max-width: 22em !important;
    padding: 0.25em 0.5em;
    text-align: center;
    width: 100%;
}

#page {
    padding: 2rem 1rem;
    position: relative;
}

    @media (min-width: 768px) {
        #page {
            padding: 6rem;
        }

        /*
        #page > :not(br) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        */
    }

    .inner {
        background-color: #fff;
        color: var(--purps);
        padding: 2rem;

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
